@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

html{
    scroll-behavior: smooth;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #481D24;
    font-family: "Merriweather", serif;;
    font-weight: 300;
    color: #F8F2DC;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
}

h1{
    font-size: 72px;
    font-weight: 900;
    font-family: "Sedan SC", serif;
}
h2{
    font-size: 48px;
    font-weight: 900;
    font-family: "Sedan SC", serif;
}
h3{
    font-size: 36px;
    font-weight: 900;
    font-family: "Sedan SC", serif;
}


section{
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

a{
    color: #F8F2DC;
    text-decoration: none;
    font-family: "Merriweather", serif;
    transition: 0.2s;
}

a:hover{
    text-decoration: underline;
}

footer{
    text-align: center;
    margin-top: auto;
    padding: 20px;
}

@media screen and (max-width: 1024px){
    h1{
        font-size: 4em;
    }
    h2{
        font-size: 3em;
    }
    h3{
        font-size: 2em;
    }
    
}

.header-container{
    display: flex;
    width: 100%;
    padding: 1em;
    background-color: #481D24;
    justify-content: space-around;
    border-bottom: 2px solid #F8F2DC;
    z-index: 1000;
}

.header-container h1{
    font-size: 1.25em;
    font-weight: 900;
    text-decoration: none;
    padding: 1em;
}
.header-container h1 a{
    color: #F8F2DC;
    text-decoration: none;
}
.header-nav{
    display: flex;
    gap: 1em;
    align-items: center;
}
.header-nav a{
    font-size: 1em;
    font-weight: 700;
    padding: 1em;
    border-radius: 5px;
}
.header-nav a:hover{
    background-color: #F8F2DC;
    color: #481D24;
    border-radius: 5px;
    text-decoration: none;
}

@media (max-width: 600px) {
    .header-container {
        flex-direction: column;
    }
    .header-nav {
        justify-content: center;
        flex-direction: column;
        display: none;
    }
}

.home-container{
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url(/img/mustkõuts-suursaal-visittorva.jpg);
    background-size: cover;
    transition: background-image 0.5s;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    height: inherit;
    background-color: #481D24;
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 90% 100%);
    max-width: 70%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1024px){
    .home-container{
        flex-direction: column;
    }
    .welcome-text{
        clip-path: none;
        padding: 5em 2em;
        background-color: #481D24;
        max-width: 100%;
        width: 100%;
    }
    
}
.welcome-text h1{
    margin: 0;
    text-align: center;
}
.welcome-text h3{
    margin: 0;
    text-align: center;
    color: #F8F2DC;
}
.welcome-text-additional{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
}
.welcome-button{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
.welcome-button button{
    background-color: #481D24;
    color: #F8F2DC;
    border: 2px solid #F8F2DC;
    font-size: 1.5em;
    padding: 20px 40px;
    transition: 0.2s;
}
.welcome-button button > a{
    color: #F8F2DC;
    text-decoration: none;
}
.welcome-button button:hover{
    background-color: #F8F2DC;
    transform: translate(0px, -3px);
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.welcome-button button:hover > a{
    color: #481D24;
    text-decoration: none;
}




.about-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #F8F2DC;
    color: #481D24;
}

.about-container h1{
    padding: 1em 0em;
    width: 50%;
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
.about-text{ 
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-weight: 700;
    width: 50%;
    font-size: 1.5em;
    line-height: 1.5em;
}

@media screen and (max-width: 1024px){
    .about-container h2{
        width: 100%;
    }
    .about-text{
        font-size: 1em;
        width: 90%;
    }
}

.menu-container{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.menu-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 50%;
}

.menu-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: #F8F2DC;
    border-radius: 20px;
    color:#481D24;
    padding: 2.5%;
    width: 50%;
    box-shadow: 0px 0px 5px black;
}

.menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu h3{
    padding: 20px 0px;
    text-align: center;
}

.menu b{
    padding: 10px 0px;
    text-align: center;
}

@media screen and (max-width: 1024px){
    .menu-content{
        flex-direction: column;
    }
    .menu{
        width: 90%;
    }
}


.events-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.events{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    height: 60vh;
    width: 80%;
}
.event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5%;
    padding: 2.5%;
    border: 4px solid #F8F2DC;
    background-color: #3b191f;
    border-radius: 5px;
}

@media screen and (max-width: 1024px){
    .events-container{
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
}



.gallery-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #3b191f;
    color: #481D24;
}
.images{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1%;
}   
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
.image img{
    width: 600px;
}

@media screen and (max-width: 1024px){
    .images{
        grid-template-columns: repeat(1, 1fr);
    }
    .image img{
        width: 100%;
    }
    
}

.hidden{
    transform: translateX(-50%);
    opacity: 0;
    transition: all 1s;
}

.show{
    transform: translateX(0%);
    opacity: 1;
    transition: all 1s;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 5px grey;
}